@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.inter-fonts {
  font-family: "Inter", sans-serif;
}

.navbar ul li a.active {
  color: #632ee3;
  border-bottom: 1px solid #632ee3;
}
